<h1>Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<section>
				<div class="media">
					<div class="media-left">
						<%= gravatar_for(current_user)%>
					</div>

					<div class="media-body">
						<h1><%= current_user.name %></h1>
							<p><%= current_user.email %></p>
							<%= link_to "Update profile", edit_user_path(current_user), class: "btn btn-xs btn-warning" %>
							<% @user ||= current_user %>

						<div class="stats">
							<%= link_to followers_user_path(@user) do %>
								<strong><%= @user.followers.count %></strong> followers
							<% end %>

							<%= link_to following_user_path(@user) do %>
								<strong><%= @user.following.count %></strong> following
							<% end %>
							
							<%= link_to words_path do %>
								<p><strong>Word learned <%= @user.lesson_words.count %></strong><p>
							<% end %>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="col-md-8">
			<section>
				<div>
					<h3>Activity Feeds</h3>
					<% @activities.each do |activity| %>
						<%= link_to activity.user.name, user_path(activity.user.id) %> followed <%= link_to activity.action.followed.name, user_path(activity.action.followed.id) %>
					<% end %>
				</div>

			</section>
		</div>
	</div>