<div class="container container-small">
	<div class="panel">
		<div class= "panel-heading">
			<div class="row">
				<div class="col-sm-6">
					<span><strong>Admin Word Show Page</strong></span>
				</div>

				<div class="col-sm-6 text-right">
					<%= link_to "ADD WORD", new_admin_category_word_path(@category), class: "btn btn-success"%>
					<%= link_to "BACK", admin_categories_path, class: "btn"%>
				</div>
			</div>
		</div>

		<table class="table">
			<tbody>
				<tr>
					<th>Word</th>
					<th>Answer</th>
					<th>Action</th>
				</tr>
			
				<% @word.each do |word| %>
					<tr>
						<td><%= word.content %></td>
						<td><%= word.correct_answer %></td>
						<td><%= link_to "Edit", edit_admin_category_word_path(@category, word), class: "btn btn-xs btn-warning" %>
							<%= link_to "Delete", admin_category_word_path(@category, word),method: :delete, class: "btn btn-xs btn-light", data:{confirm: "Are you sure?"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>