<h3>Create Word Page</h3>

<%= form_for :word, url:  admin_category_words_path do |f| %>
	<% if @word.errors.any? %>
		<div class="alert alert-danger">
			This form contains <%= pluralize(@word.errors.count, "error") %>
		</div>

		<ul>
			<% @word.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>

	<% end %>

	<div class="form-group">
		<%= f.label :content,"Word" %>
		<%= f.text_field :content, class:'form-control' %>

	</div>

	<div class="form-group">
		<%= f.submit class: 'btn btn-primary form-control'%>
	</div>

<% end %>