<div class="container container-small">
	<div class="col-sm-3">
		<div class="panel">
			<div class="panel-body">
				<div class="text-center">
					<%= render 'shared/user_info' %>
					<% unless current_user?(@user)%>
						<%= render 'follow_form' %>
					<% end %>
				</div>

				<hr>

				<div class="row mt-15">
					<%= render 'shared/follow_stats' %>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-8">
		<div class="panel panel-default activity-feed">
			<div class="panel-heading">
				<span class="heading"><%= @title %></span>
			</div>

			<div class="panel-body">
				<ul class="users row"> 
					<%= render @users %>
				</ul>
			</div>
		</div>
	</div>
</div>