<% @user ||= current_user %>
<div class="stats">
	<div class="col-sm-6">
		<%= link_to followers_user_path(@user) do %>
			<strong><%= @user.followers.count %></strong> 
			<div>followers</div>
		<% end %>			
	</div>
	
	<div class="col-sm-6">
		<%= link_to following_user_path(@user) do %>
			<strong><%= @user.following.count %></strong> 
			<div>following</div>
		<% end %>
	</div>

	<hr>

	<div class="btn-group btn-group-justified">
		 <div class="well text-center">
		 	<strong><%= @user.lesson_words.count %></strong>
		 	<div><small>words learned</small></div>
		 </div>
	</div>

</div>


