<div class="container container-small">
	<div class="col-sm-3">
		<div class="panel">
			<div class="panel-body">
				<div class="text-center">
					
					<div class="gravator">
						<%= gravatar_for(current_user)%>
					</div>

					<div class="media-body">
							<h1><%= current_user.name %></h1>
					</div>

					<%= link_to "Update profile", edit_user_path(current_user), class: "btn btn-xs btn-warning" %>
					<% @user ||= current_user %>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-8">
		<div class="row">
			<table class="table result">
				<tbody>
					<tr>
						<th>Word</th>
						<th>Your Answer</th>
						<th>Correct Answer</th>
					</tr>

					<% @lessonword.each do |lesson_word| %>
						<tr>
							<td><%= lesson_word.word.content %></td>
							<td><%= lesson_word.words_answer.content %></td>
							<td><%= lesson_word.word.correct_answer %></td>
						</tr>
					<% end %> 
				</tbody>
			</table>
		</div>
	</div>
</div>
