<div class="container">
	<div class="col-xs-6 col-xs-offset-3 ">
		<h1 class="text-center">Admin Category</h1>
		
		<%= form_for ([:admin, @category]) do |f| %>
			<% if @category.errors.any? %>
				<div class="alert alert-danger">
					This form contains <%= pluralize(@category.errors.count, "error") %>
				</div>

				<ul>
					<% @category.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>

			<% end %>


			<div class="form-group">
				<%= f.label :title %>
				<%= f.text_field :title, class:'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_field :description, class:'form-control'%>
			</div>

			<div class="form-group">
				<%= f.submit class: 'btn btn-primary form-control'%>
			</div>
		<% end %>

	</div>	
</div>	