<h1>Categories</h1>

<div class="col-sm-6">
	<section class="col-sm-12">
		<% @categories.each do |category| %>
			<h2><%= category.title %></h2>
			<p><%= category.description %></p>

			<%= form_for :lesson, url: lessons_path do |f|%>
				<%= f.hidden_field :category_id, value: category.id %>
				<%= f.submit "Learn", class: 'btn btn-primary'%>
			<% end %>

		<% end %>
	</section>
</div>
