<header>
	<nav class="navbar">
		<div class="container">
			<div class="nav-header">
				<%= link_to "Rubik's Cube" , root_path, class: 'navbar-brand' %>
			</div>

			<ul class="nav">
				<% unless logged_in? %>
					<li class="nav-item active"><%= link_to "Signup", new_user_path %></li>
					<li class="nav-item active"><%= link_to "Login",  new_session_path %></li>
				<% else %>
					<% if current_user.admin? %>
						<li class="nav-item active"><%= link_to "Manage Categories", admin_categories_path %></li>
					<% end %>
					<li class="nav-item active"><%= link_to "Dashboard", dashboard_path %></li>
					<li class="nav-item active"><%= link_to "Category", categories_path %></li>
					<li class="nav-item active"><%= link_to "Members", users_path %></li>
					<li class="nav-item active"><%= link_to "Profile", user_path(current_user) %></li>
					<li class="nav-item active"><%= link_to "Setting", edit_user_path(current_user) %></li>
					<li class="nav-item active"><%= link_to "Logout", session_path(current_user), method: :delete %></li>
				<% end %>
			<ul>
		</div>
	</nav>
</header>